:root{
    --bg-main: #A576BE;
    --fg-main: #6888fc;
    --fg-main-shadow: #000000;
    --font-main: #000000;
    --font-header: #A576BE;
    --font-bold: #660066;
    --div-main-bg: #A576BE;
    --div-main-shadow: #72438C;
    --div-light-shadow: #D8A9EF;
    --div-main-border: #44228830;
    --div-main-font-colour: #000000ba;
    --link-colour: #772277;
    --border-colour: #00000010;
}

a{
    text-decoration: none;
    font-weight: bold;
}

b{
	color: var(--font-bold);
}

body{
    background: var(--bg-main);
    user-select: none;
    color: var(--font-main);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6{
    padding-left: 40px;
    margin: 0;
}

hr{
	color: var(--border-colour);
	border: 1px solid var(--border-colour);
}

p{
	font-size: 24px;
    padding-left: 30px;
}

#card-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#card-pic{
    border-radius: 100%;
    padding: 5px;
    box-shadow: inset 5px 5px 10px var(--div-main-shadow),
    inset -5px -5px 10px var(--div-light-shadow);
    max-width: 320px;
    max-height: 320px;
    animation: image-appear 2s;
}

#user-card{
    min-width: 860px;
    max-width: 860px;
    min-height: 480px;
    max-height: 480px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 5px 5px 30px var(--div-main-shadow),
    -5px -5px 30px var(--div-light-shadow);
    background: var(--div-main-bg);
    color: var(--div-main-font-colour);
    animation: card-appear 1s linear;
}

#card-text{
    min-height: 480px;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-left: 20px;
}

#user-card a{
	padding: 3px 6px;
	margin: 3px;
	border-radius: 10px;
	box-shadow: 3px 3px 6px var(--div-main-shadow),
	-3px -3px 6px var(--div-light-shadow);
	color: var(--div-main-font-colour);
	font-weight: lighter;
	animation: button-appear 2s linear;
}

#user-card a:hover{
	padding: 3px 6px;
	color: var(--link-colour);
	box-shadow: 3px 3px 6px var(--div-main-shadow),
	-3px -3px 6px var(--div-light-shadow);
}

#user-card a:active{
	padding: 3px 6px;
	box-shadow: inset 3px 3px 6px var(--div-main-shadow),
	inset -3px -3px 6px var(--div-light-shadow);
}

#user-card h1{
	text-transform: uppercase;
	letter-spacing: 6px;
	font-size: 60px;
	color: var(--font-header);
	padding: 0;
	text-shadow: 2px 2px 5px var(--div-main-shadow),
	-2px -2px 5px var(--div-light-shadow);
	animation: name-appear 2s linear;
}

#user-card p{
    padding-left: 20px;
}

@media (max-width: 900px){
	body{
		overflow-y: auto;
	}
	#card-pic{
		margin-top: 20vh;
		margin-bottom: 10px;
		max-width: 280px;
		max-height: 280px;
	}
	#card-text{
		margin-top: 0;
		transform: TranslateY(-120px);
	}
	#user-card{
		flex-direction: column;
		align-items: flex-start;
		max-width: 80vw;
		min-width: 80vw;
		min-height: 80vh;
		margin-top: 50px;
		max-height: unset;
	}
	#user-card h1{
		font-size: 38px;
	}
	#user-card a{
		font-size: 12px;
		font-weight: bold;
	}
	#user-card p{
		line-height: 80px;
	}
}

@keyframes button-appear{
	0%{
		opacity: 0%;
		box-shadow: 0px 0px 0px #00000000;
	}
	50%{
		opacity: 0%;
		box-shadow: 0px 0px 0px #00000000;
	}
	100%{
		opacity: 100%;
		box-shadow: 3px 3px 6px var(--div-main-shadow),
	-3px -3px 6px var(--div-light-shadow);
	}
}

@keyframes card-appear{
	0%{
		opacity: 0%;
		box-shadow: 0px 0px 0px #00000000;
		color: #00000000;
	}
	50%{
		opacity: 100%;
		box-shadow: 0px 0px 0px #00000000;
		color: #00000000;
	}
	100%{
		opacity: 100%;
		box-shadow: 5px 5px 30px var(--div-main-shadow),
    -5px -5px 30px var(--div-light-shadow);
    		color: var(--div-main-font-colour);
	}
}

@keyframes image-appear{
	0%{
		box-shadow: inset 0px 0px 0px #00000000;
		transform: RotateZ(-15deg);
		opacity: 0%;
	}
	50%{
		box-shadow: inset 0px 0px 0px #00000000;
		transform: RotateZ(-15deg);
		opacity: 0%;
	}
	100%{
		box-shadow: inset 5px 5px 10px var(--div-main-shadow),
		inset -5px -5px 10px var(--div-light-shadow);
		transform: RotateZ(0deg);
		opacity: 100%;
	}
}

@keyframes name-appear{
	0%{
		text-shadow: 0px 0px 0px #00000000;
	}
	50%{
		text-shadow: 0px 0px 0px #00000000;
	}
	100%{
		text-shadow: 2px 2px 5px var(--div-main-shadow),
		-2px -2px 5px var(--div-light-shadow);
	}
}

