:root{
    --bg-main: #CADC9F;
    --fg-main: #306230;
    --fg-light: #CADC9F;
    --fg-main-shadow: #0F380F;
    --font-main: #306230;
    --font-header: #0F380F;
    --font-bold: #0F380F;
    --link-bg: #0F380F;
    --link-colour: #0F380F;
    --link-highlight: #CADC9F;
    --border-colour: #306230;
}

a{
    text-decoration: none;
    text-align: center;
    color: var(--link-colour);
    background: var(--bg-main);
    padding: 8px;
    font-weight: bold;
}

a:hover{
	color: var(--link-highlight);
	background-color: var(--link-bg);
}

b{
	color: var(--font-bold);
}

body{
    background: var(--bg-main);
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    user-select: none;
    color: var(--font-main);
    font-family: "font main";
    animation: load-site 4s steps(10, end) both;
}

h1, h2, h3, h4, h5, h6{
	color: var(--font-header);
	text-align: center;
    padding-left: 40px;
    margin: 0;
}

hr{
	color: var(--border-colour);
	border: 1px solid var(--border-colour);
}

p{
	font-size: 24px;
    padding-left: 30px;
}

#container{
	max-width: 50vw;
}

#gb-pic{
	min-width: 256px;
	border-radius: 100%;
	image-rendering: pixelated;
	border: 3px solid var(--border-colour);
}

#gb-text{
	text-align: left;
}

.image{
	width: 100%;
	image-rendering: pixelated;
	padding: 3px;
	background-color: var(--border-colour);
	border: 3px solid var(--border-colour);
}

@media (max-width: 900px){
	body{
		display: block;
	}
	#container{
		max-width: 100vw;
	}	

}

@font-face{
	font-family: "font main";
	src: url("fonts/gb.ttf");
}

@keyframes load-site{
	0%{
		opacity: 0%;
	}
	25%{
		opacity: 0%;
	}
	100%{
		opacity: 100%;
	}
}


